<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geek.huixiaoer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.jess.arms.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- arms配置 -->
        <meta-data
            android:name="com.geek.huixiaoer.common.config.GlobalConfiguration"
            android:value="ConfigModule" />

        <activity
            android:name=".mvp.common.ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.supermarket.ui.activity.ShopActivity" />
        <activity android:name=".mvp.supermarket.ui.activity.GoodsDetailActivity" />
        <activity android:name=".mvp.common.ui.activity.RegisterActivity" />
        <activity
            android:name=".mvp.common.ui.activity.CaptchaActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".mvp.common.ui.activity.LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name=".mvp.recycle.ui.activity.RecycleListActivity"></activity>
    </application>

</manifest>